/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    padding: 2rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: white;
    color: black;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.heroBannerLogo {
    width: 600px;
}

@media screen and (max-width: 996px) {
    .heroBannerLogo {
        width: 300px;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroBannerElements {
    display: flex;
}

@media screen and (max-width: 996px) {
    .heroBannerElements {
        flex-direction: column;
    }
}
