.heroBanner {
    padding: 2rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: white;
    color: black;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.heroBannerLogo {
    width: 600px;
}

@media screen and (max-width: 996px) {
    .heroBannerLogo {
        width: 300px;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroBannerElements {
    display: flex;
}

@media screen and (max-width: 996px) {
    .heroBannerElements {
        flex-direction: column;
    }
}

.report-link {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: rgb(48, 56, 70);
    color: black;
    font-style: italic;
}
